<style>
.recl { padding:10px;font-size:12px; }
.recl1 { padding:2px;font-size:12px; }
</style>


<div class="j-w j-beta-w j-w-popular"><h3 class="j-w-title"><a target="_self" href="/">Леонид Каганов</a></h3>
<div class="j-w-content"><ul class="j-w-items">
<li><a href="/"><img title='Дневник Леонида Каганова<br>на главную страницу http://lleo.me' src="/dnevnik/design/userpick_germany2015.jpg" width=120 border=0></a></li>
<li><div class='recl1'><INPUT type='text' size='7' style="color: #777777" value="поиск" onclick="majax('okno.php',{a:'search'})"></div></li>
<li><div style='padding:10px 0 10px 0;'>{_CALENDAR:_}</div></li>
<li><div class='recl1'><a title='Перейти на страницу со списком всех заметок.' href='/dnevnik/contents'>оглавление</a></div></li>
<li><div class='recl1'><a title='Всплывает окошко со списком заметок, которые ваш браузер ещё не открывал.' href="javascript:majax('okno.php',{a:'notseen',day:30})">нечитанное</a></div></li>
<li><div class='recl1'><a title='Скучный документ с правилами этого дневника.' href='/dnevnik/whatis'>о дневнике</a></div></li>
<li><div class='recl1'><a title='Перейти на страницу в техническом блоге /blog (вы-то находитесь в блоге /dnevnik), где рассказывается, как можно установить себе мой движок блога (он открытый).' href=/blog/lleoblog>о движке</a></div></li>
<li><div class='recl1'><a title='Хотите заказать рекламную статью или обзор? Это возможно, но есть определенные ограничения. Все подробности на странице рекламной политики.' href="/reklama" >заказать рекламу</a></div></li>

{_is_podzamok:{_nobr:
<li><div class='recl1'>{_STATISTIC: template=<a title='Заходы на эту страницу по ссылкам и через поисковики.' href="javascript:{majax}">посещения: {COUNTER}</a>_}</div></li>
<li><div class='recl1'><a href='#' title='Кто посещал эту страницу поименно?' onclick="majax('statistic.php',{a:'ktoposetil',data:'{num}',mode:'short'}); return false">посетившие</a></div></li>
_}_}

</ul></div></div>



<div class="j-w j-beta-w j-w-popular"><h3 class="j-w-title"><a target="_self" href="/reklama" title='Хотите заказать рекламную статью или обзор? Это возможно, но есть определенные ограничения. Все подробности на странице рекламной политики.'>порекламируем</a></h3>
<div class="j-w-content"><ul class="j-w-items">
<li class="j-w-item"><div class='recl'><a title="Грузоперевозки (Москва и межгород),<br>мой друг Алексей Крылов:<br><img src=/dnevnik/2015/10/lewa/lewa.jpg>">Грузоперевозки:<br><a href='http://xn----8sbebcmaodkvczudfhpe3a1a.xn--80adxhks/'>http://грузоперевозки-москва.москва</a></div></li>
<li class="j-w-item"><div class='recl'><a title='Фирма установки пластиковых окон моих друзей - Максима и Александра,<br>читателей этого дневника. Уже 25 других читателей моего дневника<br>поставили у них окна. Рекомендую. Если скажете, что от меня и назовете пароль «ллео»,<br>то при любом заказе окон получите спецподарок - ценный сувенир.'>Пластиковые окна:<br><a href='http://oknamigom.ru'>http://oknamigom.ru</a></div></li>
<li class="j-w-item"><div class='recl'><a title='Мой любимый домашний провайдер, через него я хожу в интернет' href='http://onlime.ru'><img border=0 src='/dnevnik/2015/03/onlimeru.gif'></a></div></li>
</ul></div></div>


<div class="j-w j-beta-w j-w-popular"><h3 class="j-w-title"><a target="_self" href="/reklama" title='Хотите заказать рекламную статью или обзор? Это возможно, но есть определенные ограничения. Все подробности на странице рекламной политики.'>разное</a></h3>
<div class="j-w-content"><ul class="j-w-items">
<!-- СЧЕТЧИКИ -->
<div class='recl'>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.sr{_RANDIP:
c
с
с
с
с
с
с
с
с
с
_}=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-49549692-1', 'lleo.me');ga('require','displayfeatures');ga('send','pageview');
</script><!--LiveInternet counter--><script type="text/javascript"><!--
new Image().sr{_RANDIP:
c
с
с
с
с
с
с
с
с
с
_} = "//counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random();//--></script><!--/LiveInternet-->
<!--LiveInternet logo--><a href="http://www.liveinternet.ru/stat/lleo.me/dnevnik/" target="_blank"><img src="//counter.yadro.ru/logo?38.6" title="LiveInternet" border="0" width="31" height="31"/></a><!--/LiveInternet-->
&nbsp;
<!--Openstat--><span id="openstat2191304"><a href='https://rating.openstat.ru/site/2191304'><img title='OpenStat' src='https://openstat.net/i/68.gif'></a></span>
<script type="text/javascript">
var openstat = { counter: 2191304, next: openstat };
(function(d, t, p) {
var j = d.createElement(t); j.async = true; j.type = "text/javascript";
j.sr{_RANDIP:
c
с
с
с
с
с
с
с
с
с
_} = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
})(document, "script", document.location.protocol);
</script><!--/Openstat-->


<table align=right border=0 width=20%><tr><td>{_PHPEVAL: $o=''; $f='../home/pogodka-spb.htm'; if(@is_file($f)) $o.=@file_get_contents($f); $f='../home/pogodka-msk.htm'; if(@is_file($f)) $o.=@file_get_contents($f); _}</td></tr></table>
<!-- / СЧЕТЧИКИ -->
</ul></div></div>