<p>Здравствуйте, {#realname}!

<p>Ваш адрес <i><b>{#mail}</b></i> был указан при регистрации на сайте <b>{#httphost}</b> (владелец сайта {#admin_name}).

<p>Чтобы подтвердить адрес, пройдите по ссылке: <a href='{#link}'>{#link}</a>

<p>Можете не беспокоиться: само по себе без специальных настроек вам на этот адрес ничего приходить не будет.
Но если вы хотите получать ответы на свои комментарии по почте, зайдите на сайте в свою личную карточку (нажав
там 'U' или кликнув на свой ник) и проверьте, чтобы там была установлена галочка "получать ответы по почте".

<p>Если кто-то указал ваш адрес или письмо переслал робот с комментарием о несуществующем адресе, пожалуйста кликните сюда,
и его аккаунт будет мгновенно заблокирован: <a href="{httphost}ajax/comment.php?a=ban_immediately&mail={url:mail_parent}&date={url:date}&confirm={#confirm}">{httphost}ajax/comment.php?a=ban_immediately&mail={url:mail_parent}&date={url:date}&confirm={#confirm}</a>.
Спасибо за помощь. Нам тоже очень не нравится, когда мудаки подписываются чужими адресами вместо того, чтобы оставить графу пустой.

<p>Если у вас есть дела поважнее, просто игнорируйте письмо.
